<h3><%= @letters %></h3>
<p>Whatcha gunna do with that?</p>
<form action="/score" method="POST" class="form-inline">
  <input type="text" name="word" class="form-control">
  <input type="submit" value="Play!" class="btn">
</form>

